* {
	font-family: arial;
}

.column{
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
}

.list {
	justify-content: center;
	align-content: center;
}

.nav {
	background-color: #1F2937;
	color: #F9FAF8;
	display: flex;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
	border-bottom: 1px solid black;
}

.nav p {
	display: inline;
	font-size: 24px;
}

.nav-list {
	display: flex;
}

.nav ul {
	list-style-type: none;
	padding-left: 0;
}

.nav li {
	display: flex;
	align-items: center;
	margin: 0px 30px;
	font-size: 18px;
}

.nav a {
	color: #E5E7EB;
	text-decoration: none;
}

.xl-text {
	font-size: 48px;
	font-weight: bolder;
	margin: 0;
}

.light-bg {
	color: #1F2937;
}

.dark-bg {
	color: #F9FAF8;
	background-color: #1F2937;
}

.sm-text {
	font-size: 18px;
}

.off-white {
	color: #E5E7EB;
}

.signup-btn {
	background-color: #3882F6;
	color: whitesmoke;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px;
	font-size: 18px;
	padding: 15px;
}

.push_left {
	margin: 10%;
	margin-right: 0;
}

.push_right {
	margin: 10%;
	margin-left: 0;
}

/* -----Section 2------ */

.med-text {
	font-size: 36px;
	font-weight: bolder;
}

/*.center {
	margin: auto 0;
}*/

.dark-text {
	color: #1F2937;
}

.center {
	justify-content: center;
	margin: 50px auto;
}

.no-style li {
	list-style-type: none;
}

.blue-frame {
	border: 5px solid #3882F6;
	border-radius: 10px;
	width: 150px;
	height: 150px;
}

.narrow {
	width: 180px;
}

.spaced li{
	margin: auto 30px;
}